# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
PTS/ProcurementTrackingSystem
PTS/delivery_model.pkl
PTS/AWS_mail_rootkey.csv
PTS/AWS_smtp_credentials.csv
PTS/Planet_scale_credentials.txt
PTS/Secret key of app.txt

